:root{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#icon{
    height: 30px;
    width: auto;

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.itemBox{
    border: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;

}

#content :hover{
    background-color: rgb(224, 224, 224);
}

.itemBoxStd{
display: grid;
grid-template: 1fr/ 1fr 1fr 1fr 1fr;
}

.itemBoxExp{
    

}

.itemBoxEdt{
    
}
button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#content{
   display: grid;
   grid-template: 1fr 1fr 1fr 1fr /1fr;
    
    
}
header{
    text-align: center;
    padding: 20px;

}
header div{
    padding: 20px;
    font-size: 50px;
    font-weight: 700;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contentContainer{
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(255, 56, 56);
    width: 800px;
}

ul{
    list-style: none;
    text-align: center;
    padding-right: 7%;
}

nav button{
background-color:rgb(255, 56, 56) ;
border-style: solid;
border-color: black;
border-radius: 5px;
width: 100px;

}
nav{
    display: flex;
    justify-content: center;
    gap: 15px;
}